.allPokemon {
    display: flex;
    flex-wrap: wrap;

    //pokemon Box
    .pokeBoxWrapper {
        min-width: 280px;
        max-width: 280px;
        height: 380px;
        color: white;
        border-radius: 5px;
        background: rgb(50, 50, 50);
        margin: 1rem;
        flex: 280px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
            width: 280px;
            position: absolute;
            margin-bottom: 100px;
            border-bottom: 1px solid rgb(80, 80, 80);
        }

        .pokeBoxColor {
            height: 180px;
            width: 230px;
            border-radius: 130px;
            position: absolute;
            margin-left: 25px;
            margin-bottom: 60px;
        }

        .pokeBoxName {
            font-size: 20px;
            font-weight: bold;
            margin-top: 240px;
            margin-left: 10px;
            position: absolute;
            color: white;
        }

        .pokeBoxPrice {
            font-size: 50px;
            font-weight: bold;
            position: absolute;
            margin-top: 360px;
            margin-left: 10px;
            
            &::first-letter {
                font-size: 30px;
            }
        }
    }
}