.cartWrapper {
    width: 60px;
    margin: 4px;
    height: 52px;
    
    &:hover {
        background: rgb(230, 230, 230);
        background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(190, 190, 190) 100%);
        width: 60px;
        margin: 4px;
        height: 52px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    &:active {
        background: rgb(200, 200 ,200);
    }

    .fa-cart-shopping {
        margin-top: 18%;
        margin-inline: 10px;
        height: 30px;
        color: black;
    }

    .cartLink {
        text-decoration: none;
    }

    .circleQty {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        position: relative;
        top: -45px;
        left: 30px;
        background: white;
        border: 1px solid rgb(200, 200, 200);
        justify-content: center;
        align-items: center;
        display: flex;
        

        .itemQty {
            font-size: 16px;
            font-weight: bold;
            color: black;
        }
    }

    .hide {
        display: none;
    }
}