
.cartWrapper {
    position: absolute;
    right: 50px;
    cursor: pointer;

    .fa-cart-shopping {
        height: 30px;
        color: white;
    }

    &:hover {
        .fa-cart-shopping {
            color: rgb(50, 250, 50)
        }
    }

    &:active {
        .fa-cart-shopping {
            color: white;
        }
    }

    .cartLink {
        text-decoration: none;
    }

    .circleQty {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        position: relative;
        top: -45px;
        left: 30px;
        background: rgb(50, 250, 50);
        justify-content: center;
        align-items: center;
        display: flex;
        

        .itemQty {
            font-size: 16px;
            font-weight: bold;
            color: black;
        }
    }

    .hide {
        display: none;
    }
}