.itemWrapper {
    margin: 1rem auto;
    max-width: 1080px;
    border-inline: 1px solid rgb(50, 50, 50);
    

    .firstSection {
        margin: 1rem;
        display: flex;
        flex-wrap: nowrap;

        .itemImage {
            width: 50%;
    
            img {
                width: 100%;
            }
        }
    
        .itemBuy {
            width: 50%;
            border-left: 1px solid rgb(50, 50, 50);
            display: flex;
            justify-content: center;
            align-items: center;

            .itemBuyText {
                line-height: 1px;

                .itemBuyName {
                    font-size: 30px;
                }

                .itemBuyPrice {
                    font-size: 60px;
                    font-weight: bold;
                }
            }

            .itemQtyWrap {
                display: flex;
                
                .itemQty {
                    display: inline-flex;
                    justify-content:space-between;
                    align-items: center;
                    background: rgb(220, 220, 220);
                    color: black;
                    width: 66px;
                    height: 22px;
                    border-radius: 22px;

                    &:hover {
                        background: rgb(255, 255, 255);
                    }
    
                    .itemQtyBtn {
                        border: 0;
                        background: 0;
                        width: 23px;
                        height: 22px;
                        border-radius: 23px;
    
                        &:hover {
                            cursor: pointer;
                        }
    
                        &:active {
                            background: rgb(100, 100, 100);
                            color: white;
                        }
                    }
                }
            }
            
            .itemBuyButtons {
                button {
                    margin-top: 2px;
                    display: block;
                    width: 300px;
                    height: 60px;
                    border-radius: 5px;
                    background: rgb(220, 220, 220);
                    color: black;
                    border: 0;
                    
                    &:hover {
                        cursor: pointer;
                        background: rgb(255, 255, 255);
                    }

                    &:active {
                        background: rgb(100, 100, 100);
                        color: white;
                    }
                }
            }
        }
    }
    

    .itemDescription {
        margin: 2rem;
        width: 1280px;

        .itemDescName {
            font-size: 30px;
        }

        .itemDescType {
            display: flex;
            p {
                margin-right: 4px;
            }
        }

        .itemDescAbilities {
            display: flex;
        }

        .itemDescStats {
            display: flex;

            .itemDescStatsTable {
                .itemDescStatsHead {
                    
                    border-bottom: 1px solid rgb(50, 50, 50);
                    height: 40px;

                    th {
                        border-right: 1px solid rgb(50, 50, 50);

                        &:last-child {
                            border: 0;
                        }
                    }
                }
    
                .itemDescStatsBody {
                    height: 40px;
                    td {
                        width:10%;
                        text-align: center;
                        border-right: 1px solid rgb(50, 50, 50);

                        &:last-child {
                            border: 0;
                        }
                    }
    
                }
            }

        }

    }
}