//cart table
.cartTableWrap {
    width: 100%;
    border-collapse: collapse;

    .cartHeadWrap {
        border-bottom: 1px solid rgb(200, 200, 200);

        .cartHeadItems {
            * {
                height: 50px;
            }
        }
    }

    .cartBodyWrap {
        .cartContentRow {
            border-bottom: 1px solid rgb(200, 200, 200);
            &:last-child {
                border: 0;
            }

            .cartContentProduct {
                width: 20%;
                display: flex;
                align-items: center;
                text-align: left;
            }
    
            .cartContentPrice {
                width: 20%;
            }
            
            .cartContentQty {
                width: 20%;

                .changeQty {
                    display: inline-flex;
                    justify-content:space-between;
                    align-items: center;
                    background: rgb(220, 220, 220);
                    color: black;
                    width: 66px;
                    height: 22px;
                    border-radius: 22px;
                    
                    
                    .qtyButton {
                        border: 0;
                        background: 0;
                        width: 23px;
                        height: 23px;
                        border-radius: 23px;
    
    
                        &:hover {
                            cursor: pointer;
                        }
    
                        &:active {
                            background: rgb(100, 100, 100);
                            color: white;
                            border: 2px solid rgb(100, 100, 100);
                        }
                    }
                }
            }
    
            .cartContentSubtotal {
                width: 20%;
            }
    
            .cartContentTotal {
                width: 20%;
            }

            .cartDeleteItem {
                width: 20%;

                .deleteItem {
                    display: inline-flex;
                    align-items: center;
                    background: rgb(220, 220, 220);
                    color: black;
                    border: 0;
                    width: 22px;
                    height: 22px;
                    border-radius: 22px;


                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        background: rgb(100, 100, 100);
                        color: white;
                    }
                }
            }
            
        }
    }
    
}
