.navWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    background: rgb(240, 240, 240);
    background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%);
    height: 60px;
    border: 1px solid rgb(200, 200, 200);

    .buttonWrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 60%;

        .navLink {
            text-decoration: none;
            
            button {
                background: rgb(240, 240, 240);
                background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%);
                color: black;
                height: 60px;
                border-radius: 0px;
                border: 0px;
                font-size: 18px;
                margin-inline: 4px;
                
                &:hover {
                    background: rgb(230, 230, 230);
                    background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(190, 190, 190) 100%);
                    margin: 4px;
                    height: 52px;
                    border-radius: 4px;
                    cursor: pointer;
                }
    
                &:active {
                    background: rgb(200, 200 ,200);
                }
            }
        }
    }

    .searchBar {
        display: flex;
        flex: 1;
        width: 40%;

        input {
            display: flex;
            flex: 1;
            width: 40%;
            font-size: 20px;
        }
    }

    .searchResult {
        width: 40%;
        top: 60px;
        right: 0px;

        position: absolute;
        background: white;
        color: black;
        height: 60px;
        font-size: 20px;

        border: 1px solid rgb(200, 200, 200);

        .searchBox {
            display: flex;
            height: 60px;
        }
    }
}

