.navWrapper {
    width: 100%;
    background: rgb(155, 155, 155);
    background: linear-gradient(180deg, rgb(155, 155, 155) 0%, rgb(85, 85, 85) 100%);
    height: 60px;

    .navLink {
        text-decoration: none;

        button {
            background: rgb(155, 155, 155);
            background: linear-gradient(180deg, rgb(155, 155, 155) 0%, rgb(85, 85, 85) 100%);
            color: white;
            height: 60px;
            border-radius: 0px;
            border: 0px;
            font-size: 18px;
            margin-right: 4px;
            margin-left: 4px;
            
            &:hover {
                background: rgb(140, 140, 140);
                background: linear-gradient(180deg, rgb(140, 140, 140) 0%, rgb(70, 70, 70) 100%);
                margin: 4px;
                height: 52px;
                border-radius: 4px;
                cursor: pointer;
            }

            &:active {
                background: rgb(105, 105 ,105);
            }
        }
    }

    .searchBar {
        float: right;

        input {
            position: relative;
            top: 4px;
            right: 4px;
            height: 52px;
            width: 300px;
            font-size: 20px;
        }
    }
}