main {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
  text-align: center;

  .navigationButtonsWrap {
    padding: 2rem;

    .pageLinesWrap {

      .pageLinesBtn {
        font-size: 14px;
        height: 40px;
        border: 0px;
        background: rgb(240, 240, 240);
        background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%);
        color: black;
  
        &:hover {
          background: rgb(230, 230, 230);
          background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(190, 190, 190) 100%);
          cursor: pointer;
        }
    
        &:active {
          background: rgb(200, 200, 200);
        }
      }
    }
  
    .navigationWrap {
      .prevNextBtn {
        font-size: 14px;
        height: 40px;
        border: 0px;
        background: rgb(240, 240, 240);
        background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%);
        color: black;
      
        &:hover {
          background: rgb(230, 230, 230);
          background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(190, 190, 190) 100%);
          cursor: pointer;
        }
  
        &:active {
          background: rgb(200, 200 ,200);
        }
      }
  
      .currentBtn {
        font-weight: bold;
        font-size: 14px;
        width: 40px;
        height: 40px;
        background: rgb(190, 190, 190);
        background: linear-gradient(0deg, rgb(230, 230, 230) 35%, rgb(190, 190, 190) 100%);
        color: black;
        border: 0px;
      }
      
      .navigationBtn {
        font-size: 14px;
        width: 40px;
        height: 40px;
        text-align: center;
        border: 0px;
        background: rgb(240, 240, 240);
        background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%);
  
        &:hover {
          background: rgb(230, 230, 230);
          background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(190, 190, 190) 100%);
          cursor: pointer;
        }
  
        &:active {
          background: rgb(200, 200 ,200);
        }
      }
    }
  }
}

#listDescription {
  .name {
    font-weight: lighter;
  }

  &:hover {
    p {
      font-size: 16px;
      color: black;
    }

    .image {
      width: 48px;
    }
  }
}
