//list of pokemon
.listWrapper {
    
    .divWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      * {
        margin-inline: 4%;
        font-size: 16px;
      }
  
      &:hover {
        .image {
          width: 96px;
        }
  
        p {
          font-size: 22px;
        }
      }
      
      .index {
        width: 10px;
      }

      .image {
        width: 48px;
      }
      
      .name {
        font-weight: bold;
        width: 130px;
    
        &:hover {
          color: rgb(150, 150, 150);
        }
      }

      .experience {
        width: 30px;
      }
      
      .type {
        width: 60px;
        display: flex;
        justify-content: center;

        * {
          display: inline;
          margin-right: 4px;
          padding-block: 2px;
        }
      }

      .price {
        width: 30px;
      }
    }
  }

  
//details of pokemon
  .detailsWrapper {
    top: 50%;
    left: 50%;
    transform: translate( -50% -50% );
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      background-color: rgb(240, 240, 240);
      margin: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      display: inline-block;
    }

    .artwork {
      position: absolute;
      height: 290px;
    }

    .backToInfoBtn {
      position: relative;
      right: 180px;
      top: 80px;
      height: 42px;
    }

    .infoWrapper {
      position: relative;
      text-align: left;
  
      .returnButton {
        height: 42px;
      }

      .typeList {
        display: flex;

        .types {
          margin-right: 10px;
          display: flex;
        }
      }

      .sprite {
        position: absolute;
        left: 250px;
        bottom: 60%;
      }

      .viewBtn {
        position: absolute;
        bottom: 42%;
        left: 200px;
        width: 94px;
      }
      
      .artBtn {
        position: absolute;
        bottom: 30%;
        left: 200px;
        width: 94px;
      }
      
      .addToCart {
        position: absolute;
        bottom: 30%;
        left: 300px;
        height: 49px;
        width: 90px;
      }

      .detailsPrice {
        position: absolute;
        bottom: 30%;
        left: 396px;
        font-size: 40px;
        background: none;
        color: black;
      }
    }
  }


//list header
#listHeader {
  display: flex;
  justify-content: center;

}
